@{
    ViewData["Title"] = "Create Data";
}
<form action="/Home/Create">
    <label for="fname">Name:</label><br>
    <input required type="text" id="fname" name="Name" placeholder="please enter your name"><br>
    <label for="lname">Designation:</label><br>
    <input required type="text" id="lname" name="Description" placeholder="please enter your designation"><br><br>
    <input type="submit" value="Submit">
</form> 